{% extends 'first/base.html' %}
{%load staticfiles%}
{% block content %}


    <div class="jumbotron vertical-center">


        <form class="form-inline  " method="get" action=".">
        <div class="form-group has-feedback blue justify-content-center">


            <input class="form-control input" name="Szukaj" type="text" placeholder="Wyszukaj autora lub książkę" style='width:500px'>
            <button type="button" class="btn  btn-round">
            Szukaj
            </button>
        </div>

            </form>




    </div>

    <div class="container">
    <div class="row row-offcanvas">
    <div class="col-12 md-9">
   {% if categories %}


        {% for category in categories %}


        <div class="row">
            <div class="col-6 col-lg-12 ">
                <a href="/first/category/{{category.slug}}">{{category.name}}</a>
            </div>
        </div>


        {% endfor %}


    {% else %}
    <strong>There are not categories present.</strong>
    {% endif %}
    </div>
    </div>
    </div>

<div>

        {%  if perms.first.add_category %}
        <a href="/first/add_category/">Add new Category</a><br/>
        {% endif %}




</div>

{% endblock %}